# dependencies
node_modules/

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem
.vscode

# debug
.pnpm-debug.log*

# env files
.env
.env.*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Turborepo
.turbo
