@import "open-props/normalize.min.css";
@import "open-props/colors-hsl.min.css";
@import "open-props/buttons.min.css";

html {
	--max-width-content: 70ch;
	--theme-navbar-height: 3rem;
	--theme-left-sidebar-width: 20rem;

	--min-space-inline: 1rem;
	background-color: var(--surface-1);
}

body {
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin: 0;
	overflow-y: scroll;
}

:where(.container) {
	max-width: var(--max-width-content);
	padding-inline: var(--size-3);
	margin-inline: auto;
}

header {
}
main {
}
footer {
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
}
a {
}
nav a {
}
textarea {
}
input {
}
content {
}
table {
}
img {
}
code {
}
pre {
}
pre > code {
}
blockquote {
}
