---
import { SITE_TITLE, SITE_DESCRIPTION } from "~/constants";
import CommonLayout from "~/layouts/Common.astro";
---

<CommonLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1>Hello world!</h1>
</CommonLayout>
