@import "tailwindcss";

@theme {
	--color-surface-default: light-dark(
		var(--color-gray-50),
		var(--color-gray-950)
	);
	--color-foreground-default: light-dark(
		var(--color-gray-950),
		var(--color-gray-50)
	);
}

@layer base {
	:root {
		interpolate-size: allow-keywords;
	}

	::selection {
		background-color: var(--color-blue-500);
		color: var(--color-gray-50);
	}

	:root {
		/* sugar-high */
		--sh-class: var(--color-sky-800);
		--sh-identifier: var(--color-gray-700);
		--sh-sign: var(--color-gray-400);
		--sh-property: var(--color-blue-800);
		--sh-entity: var(--color-teal-600);
		--sh-jsxliterals: var(--color-indigo-500);
		--sh-string: var(--color-teal-500);
		--sh-keyword: var(--color-red-400);
		--sh-comment: var(--color-stone-400);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			/* sugar-high */
			--sh-class: var(--color-blue-400);
			--sh-identifier: var(--color-gray-50);
			--sh-keyword: var(--color-red-400);
			--sh-string: var(--color-teal-600);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		a {
			&::after {
				@apply mx-2 text-gray-300 opacity-0 transition-opacity duration-200 ease-out dark:text-gray-700;
				content: "#";
			}

			&:hover::after {
				@apply opacity-100;
			}
		}
	}

	.prose pre {
		@apply overflow-x-auto rounded-lg border border-gray-200 bg-gray-50 px-3 py-2 text-sm dark:border-gray-900 dark:bg-gray-900;
	}

	.prose code {
		@apply rounded-lg px-1 py-0.5;
	}

	.prose pre code {
		@apply p-0;
		border: initial;
		line-height: 1.5;
	}

	.prose code span {
		@apply font-medium;
	}

	.prose img {
		/* Don't apply styles to next/image */
		@apply m-0;
	}

	.prose p {
		@apply my-4 text-gray-900 dark:text-gray-100;
	}

	.prose h1 {
		@apply mt-6 mb-2 text-4xl font-medium tracking-tight;
	}

	.prose h2 {
		@apply mt-6 mb-2 text-xl font-medium tracking-tight;
	}

	.prose h3 {
		@apply mt-6 mb-2 text-xl font-medium tracking-tight;
	}

	.prose h4 {
		@apply mt-6 mb-2 text-lg font-medium tracking-tight;
	}

	.prose strong {
		@apply font-medium;
	}

	.prose ul {
		@apply list-disc pl-6;
	}

	.prose ol {
		@apply list-decimal pl-6;
	}

	.prose > :first-child {
		/* Override removing top margin, causing layout shift */
		margin-top: 1.25em !important;
		margin-bottom: 1.25em !important;
	}

	pre::-webkit-scrollbar {
		display: none;
	}

	pre {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* Remove Safari input shadow on mobile */
	input[type="text"],
	input[type="email"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	table {
		display: block;
		max-width: fit-content;
		overflow-x: auto;
		white-space: nowrap;
	}

	.heading-offset {
		@apply md:-mx-6;
	}
}

@layer components {
	details {
		> summary {
			+ * {
				@apply pt-3;
			}
		}
	}
}
