---
import { GITHUB_USERNAME, TWITTER_USERNAME } from "~/constants";
import Link from "./Link.astro";

const today = new Date();
const currentYear = today.getFullYear();
---

<footer class="container">
	<ul class="links">
		<li>
			<Link href={`https://twitter.com/${TWITTER_USERNAME}`}>Twitter</Link>
		</li>
		<li><Link href={`https://github.com/${GITHUB_USERNAME}`}>GitHub</Link></li>
	</ul>
	<p class="copyright">
		<span aria-label="Copyright">&copy;</span>
		<time datetime={currentYear.toString()}>{currentYear}</time> Ian Duvall. All
		rights reserved.
	</p>
</footer>
<style>
	footer {
		margin-block: var(--size-4);
		padding-block-end: var(--size-8);
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding-inline-start: 0;
	}
	li {
		list-style: none;
		padding: 0;
	}

	.links {
		display: flex;
		gap: var(--size-2);
	}
	.copyright {
		font-size: 0.75rem;
	}
</style>
