---
import { SITE_TITLE } from "~/constants";
import Link from "./Link.astro";
---

<header>
	<div class="container header-container">
		<h2>
			{SITE_TITLE}
		</h2>
		<div>
			<nav>
				<Link href="/">Home</Link>
				<Link href="/blog">Blog</Link>
				<Link href="/about">About</Link>
			</nav>
		</div>
	</div>
</header>

<style>
	header {
		position: sticky;
		top: 0;
		background-color: var(--surface-1);
		padding-block: var(--size-3);
	}
	h2 {
	}
	.header-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
</style>
