---
import type { HTMLAttributes } from "astro/types";
import Link from "./Link.astro";

export interface Props extends HTMLAttributes<"nav"> {}

const props = Astro.props;
---

<nav {...props}>
	<Link href="/">Home</Link>
	<Link href="/blog">Blog</Link>
	<Link href="/about">About</Link>
</nav>

<style>
	nav {
		display: flex;
		gap: var(--size-2);
	}
</style>

<script></script>
